<!DOCTYPE html>

<html>

<head>
    <h4>Hello from inside index HBS</h4>
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/app.js"></script>
</head>

<body>
    <h3>
        Test HBS Template Lang
    </h3>
    <h5>
        {{title}}
    </h5>
    <h5>
        {{name}}
    </h5>
    <!-- <img src="img/robot.jpg" alt="" height="80" width="80"> -->
</body>

</html>